<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @child do |f| %>
      <%= f.label "First Name" %>
      <%= f.text_field :firstname %>

      <%= f.label "Last Name" %>
      <%= f.text_field :lastname %>
      
      <%= f.label "Age" %>
      <%= f.text_field :age %>
      
      <%= f.label "Grade" %>
      <%= f.select :grade, [['Nursery', 'nursery'],['Toddler', 'toddler'],['Pre-K', 'pre-k'],['K', 'k'],['1', '1'],['2', '2'],['3', '3'],['4', '4'],['5', '5'],['6', '6'],['7', '7'],['8', '8'],['9', '9'],['10', '10'],['11', '11'],['12', '12']], include_blank: true %>

      <%= f.label "Gender" %>
      <%= f.select :gender, [['Male', 'male'],['Female', 'female']], include_blank: true %>
      
      <%= f.label "Allergies" %>
      <%= f.text_area :allergies %>

      <%= f.submit(@child.new_record? ? 'Add Child' : 'Edit Child', class: "btn btn-success") %>
    <% end %>
  </div>
</div>